body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

#hero {
    background-image: url("images/header.gif");
    background-size: cover;
    padding: 200px;
    display: flex;
    flex-direction: column;

}
