body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}

#header-section {
    background-image: url("images/header.gif");
    width: 720px;
    height: 343px;
    left: 0px;
    top: 0px;
}